/* reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

input {
  font: inherit;
  border: none;
  outline: none;
}

fieldset {
  border: none;
}

button {
  font: inherit;
  color: inherit;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--color-main);
}

/* global styles */

.button {
  height: 100%;
  width: 3rem;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &:active .buttonIcon{
    transform: scale(1.2);
    transition: transform 0.2s ease;
  }
}

.buttonIcon {
  display: block;
  max-width: 2rem;
  aspect-ratio: 1;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

/* variables */

:root {
  --color-bg: #eee;
  --color-main: #222831;
  --color-secondary: #bbb;
  --color-accent: #00ADB5;
  --color-white: #fff;
  --color-warning: #ff746c;
}

